{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Change Password</title>
	<!-- Meta-Tags -->
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="{% static 'cssl/style.css' %}" rel='stylesheet' type='text/css' />
	<!-- online fonts-->
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
	<!--  particles  -->
	<div id="particles-js"></div>
	<!-- //particles -->
	<div class="w3ls-pos">
		<h1>Change Password</h1>
		<div class="w3ls-login box">
			<!-- form starts here -->
            {% block content %}
            <form action="{% url 'change_password' %}" method="POST">
				{% csrf_token %}
				<div class="w3ls-login">
					<input type="text" name="username" placeholder="User Name"><br>
				</div>
                <div class="w3ls-login">
                    <input type="text" name="password" placeholder="old Password"><br>
                </div>
                <div class="w3ls-login">
                    <input type="password" name="n_password" placeholder="New Password"><br>
                </div>
                <div class="w3ls-login">
                    <input type="password" name="password1" placeholder="Conform Password"><br>
                </div>
                
                <div class="w3ls-bot">
                    <input type="submit" name="Change">
                </div>

            </form>
						{% endblock content %}
			
		</div>
		<!-- //form ends here -->
		<!--copyright-->
		
		<!--//copyright-->
	</div>
	<!-- scripts required  for particle effect -->
	<script src="{% static 'js/particles.min.js' %}"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<!-- //scripts required for particle effect -->
</body>

</html>
<!DOCTYPE html>

<body>
    
    
    <div>
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}
    </div>

</body>
</html>
