<footer class="py-5" >
        <div class="container py-md-5">
            <div class="footer-logo mb-5 text-center">
                <span class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="{% url 'index' %}">Stationary <span class="display"> Stock Management</span></a></span>
            </div>
            <div class="footer-grid">
                <div class="social mb-4 text-center">
                    <ul class="d-flex justify-content-center">
                        <li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-google-plus"></span></a></li>
                    </ul>
                </div>
                <div class="list-footer">
                    <ul class="footer-nav text-center">
                            <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                                </li>
            
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Purchase
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>
                                            <a href="{% url 'pencil' %}">Pencil</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'single' %}">Single Page</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'purchase' %}">purchase</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                    </ul>
                </div>
                <div class="agileits_w3layouts-copyright mt-4 text-center">
                    <p><b>Design by</b>  <br>Dhaval Parekh<br>Keval Bhuptani<br>Drashti Vachani </p>
            </div>
            </div>
        </div>
    </footer>