{% load static  %}

{% block header %}
{% include "header.html" %}
{%  endblock %}
<!--Gallery-->
<div class="gallery py-5">
	<div class="container py-sm-3">
		<h2 class="heading text-capitalize mb-sm-5 mb-3"> Gallery </h2>
		<div class="row gallery-grids">
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="images/s1.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s1.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="images/s2.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s2.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="images/s3.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s3.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small wow fadeInUp animated" data-wow-delay=".5s">
				<a href="images/s4.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s4.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small ban-mar wow fadeInUp animated"
				data-wow-delay=".5s">
				<a href="images/s3.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s3.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top small ban-mar wow fadeInUp animated"
				data-wow-delay=".5s">
				<a href="images/s1.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s1.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three wow ban-mar fadeInLeft animated gap-w3"
				data-wow-delay=".5s">
				<a href="images/s4.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s4.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three wow ban-mar fadeInLeft animated"
				data-wow-delay=".5s">
				<a href="images/s2.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s2.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three thre ban-mar wow fadeInLeft animated"
				data-wow-delay=".5s">
				<a href="images/s2.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s2.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three thre ban-mar wow fadeInLeft animated"
				data-wow-delay=".5s">
				<a href="images/s3.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s3.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three thre ban-mar wow fadeInLeft animated"
				data-wow-delay=".5s">
				<a href="images/s1.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s1.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 ggd baner-top three thre ban-mar wow fadeInLeft animated"
				data-wow-delay=".5s">
				<a href="images/s4.jpg" class="b-link-stripe b-animate-go  swipebox">
					<div class="gal-spin-effect vertical ">
						<img src="images/s4.jpg" alt=" " />
						<div class="gal-text-box">
							<div class="info-gal-con">
								<h4>Intrend Gallery</h4>
								<span class="separator"></span>
								<p>Sit accusamus, vel blanditiis.</p>
								<span class="separator"></span>

							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- //gallery -->

<!-- footer -->
<footer class="py-5">
	<div class="container py-md-5">
		<div class="footer-logo mb-5 text-center">
			<a class="navbar-brand" href="index.html">In <span class="display"> Trend</span></a>
		</div>
		<div class="footer-grid">
			<div class="social mb-4 text-center">
				<ul class="d-flex justify-content-center">
					<li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
					<li class="mx-2"><a href="#"><span class="fab fa-google-plus"></span></a></li>
				</ul>
			</div>
			<div class="list-footer">
				<ul class="footer-nav text-center">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="services.html">Services</a>
					</li>
					<li>
						<a href="projects.html">Gallery</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
			<div class="agileits_w3layouts-copyright mt-4 text-center">
				<p>© 2018 Intrend. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank">
						W3layouts </a></p>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->

<!-- js-scripts -->

<!-- js -->
<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->

<!-- swipe box js -->
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
	jQuery(function ($) {
		$(".swipebox").swipebox();
	});
</script>
<!-- //swipe box js -->

<!-- start-smoth-scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

<!-- //js-scripts -->

</body>

</html>